<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>btn_text</key>
  <string>Continue</string>
  <key>flow</key>
  <string>flow_1</string>
  <key>show_close_btn</key>
  <string>true</string>
</dict>
</plist>